@media screen and (max-width:1200px) {
    .device {
        left: 20%;
        top: -36px;
    }
    footer li {
        margin-right: 10%;
    }
    .feature-content {
        width: 55%;
    }
}

@media screen and (max-width:991px) {
    .feature-1,
    .feature-2 {
        margin-bottom: 50px;
    }
    .device {
        display: none;
    }
    .screenshots ul li {
        width: 50%;
    }
    .screenshots-intro {
        padding: 110px 0 100px 0;
    }
    .feature-content {
        width: 80%;
    }
    .features-slider {
        height: 100%
    }
}

@media screen and (max-width:680px) {
    .feature-content {
        width: 60%;
    }
}

@media screen and (max-width:640px) {
    .use-btn {
        display: none;
    }
    footer li {
        display: block;
        text-align: left;
        padding: 20px 0;
        border-bottom: dashed 1px #c7cacc;
        margin-right: 0 !important;
        float: none;
    }
    nav {
        margin-top: 40px;
    }
    .overlay ul {
        margin-left: 0px;
    }
    .overlay ul li a {
        padding: 20px 0;
        min-width: 120px;
        font-size: 12px;
    }
}

@media (max-width: 600px) and (min-width: 521px) {
    .kele-logo1 {
        width: 92%;
    }
}

@media screen and (max-width:465px) {
    .hero h1 {
        font-size: 40px;
        margin: 100px 0 45px 0
    }
    .screenshots ul li {
        width: 100%;
        min-height: 100%;
        float: none;
    }
    section.video i {
        font-size: 30px;
    }
    section.video h1 {
        font-size: 15px;
        font-weight: 400;
    }
    section.video {
        padding: 40px;
    }
    .feature-content {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .feature-icon {
        display: block;
        margin: 0 auto;
    }
    blockquote p {
        width: 60%;
    }
    .features-slider {
        padding: 11% 50px 10% 50px;
    }
    .justif-res {
        text-align: left;
    }
    .screenshots-intro {
        padding: 0px;
    }
    .download h1 {
        font-size: 33px;
    }
}

@media(max-width:991px) and (min-width: 768px) {
    .logo-kele {
        width: 27% !important;
    }
    .mdl1 {
        width: 40%;
    }
    .logo-abt {
        padding: 13px;
        margin-top: 12px;
    }
    .text-abt p {
        margin-top: 28px;
    }
}

@media(max-width:767px) {
    .logo-kele {
        margin-top: -75px;
        width: 25%;
    }
    .navbar-toggle {
        margin-top: 5em;
        background: #f33838;
    }
    .navbar-collapse {
        background: #f33838;
    }
    .navicon {
        top: 59px;
    }
    .mdl1 {
        width: 100%;
    }
    .logo-abt img {
        max-width: 50%;
    }
    .text-abt p {
        line-height: 4em;
    }
    .pad-resize {
        padding: 35px;
    }
    .adjus {
        margin-top : 58px;
    }
    .features-list{
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .card-iot {
        min-height: 7.5em !important;
    }
    .card-autom {
        min-height: 8.5em;
    }
    .card-chtbt {
        min-height: 7.5em;
    }
    .card-serv {
        min-height: 8em;
    }
}

@media(max-width:1199px) and (min-width:992px) {
    .card-small {
        min-height: 8.5em;
    }
    .card-autom {
        min-height: 12em;
    }
    .card-chtbt {
        min-height: 9em;
    }
    .card-serv {
        min-height: 9em;
    }
  
}

@media(max-width:991px) {
    .features-slider {
        padding: 11% 82px 0% 94px;
    }
    .kele-logo1 {
        width: 70%;
    }
    .flickity-page-dots {
        margin-top: 0px !important;
    }
    .hero h1 {
        margin: 130px 0 45px 0;
    }
}

@media(max-width:520px) {
    .navicon {
        top: 44px;
    }
    .kele-logo1 {
        width: 70%;
    }
    .hero {
        min-height: 0px !important;
    }
    .main-page-overlay {
        height: 114%;
    }
    .text h2 {
        font-size: 1em !important;
    }
    .display7 h1 {
        font-size: 1.5em;
    }
    .features-slider {
        padding: 35px !important;
    }
    .hero h1 {
        margin: 13px 0 45px 0;
        font-size: 35px;
    }
}

@media(max-width:420px) {
    .hero h1 {
        /* font-size: 40px;
        margin: 200px 0 45px 0 !important; */
        font-size: 40px;
        margin: 25px 0 45px 0 !important;
    }
    .kele-logo1 {
        width: 90%;
    }
    .text-abt p {
        line-height: 2em;
    }
    .card-small {
        min-height: 5.5em;
    }
}

@media(max-width:350px) {
    .kele-logo1 {
        width: 100%;
    }
    .navicon {
        top: 28px;
    }
    .logo-abt {
        height: 5em;
    }
}