body {
    font-family: 'Exo', sans-serif;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.nv {
    z-index: 2;
}

.about {
    background: #0d141e;
    padding-top: 3.5em;
}

div#navbarNavAltMarkup {
    padding-top: 2em;
}

.title-text p {
    color: #fff;
    font-size: 30px;
}

.sep {
    height: 0.8px;
    color: #fff;
    background: #fff;
    width: 19%;
    margin-top: 3px;
}

.abt {
    height: 44px;
}

.sep-parent {
    margin-bottom: 1em;
    height: 1em;
}

.sepfa {
    font-size: 8px;
    margin-top: -1px;
    margin-left: 3px;
    margin-right: 3px;
    color: #fff;
}

.subtitle-text p {
    color: #fff;
    text-align: center;
}

.highlight {
    color: #257ad6
}

.abt-para1 {
    margin-top: 2em;
}

.abt-para1 p {
    color: #fff;
    border-left: 4.5px solid #2c77dd;
    padding-left: 15px;
    font-size: 18px;
}

.abt-para2 {
    color: #fff;
    font-size: 13.5px;
}

.solutions {
    background: #0076a3;
}

.pbtwo {
    padding-bottom: 4em;
}

.pttwo {
    padding-top: 4em;
}

.div-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
}

.serv-fa {
    line-height: 2.8em;
    font-size: 68px;
    color: #fff;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.div-circle:hover {
    background: #fff;
}

.serv_hover_fa .fa {
    color: #0076a3;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #0076a3;
}

.serv-text p {
    margin-top: 1.5em;
    font-size: 19px;
    text-align: center;
    color: #fff;
}

.we-are video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
}

.we-are {
    height: 75vh;
    overflow: hidden;
}

.we-are .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.dummy {
    min-height: 2em;
    background: #0d141e;
}

.clients {
    background: #0076a3;
}

.address p {
    text-align: right;
}

.foot {
    margin-top: 5em;
}

.address p {
    margin-bottom: 0px;
    color: #fff;
}

.foot-rw .fa {
    color: #fff;
    font-size: 19px;
    padding-top: 10px;
}

.foot-rw {
    margin-bottom: 2em;
}

.address {
    border-right: 2px solid #fff;
}

footer {
    background: #0d141e;
}

.fut {
    padding-top: 4em;
}

.footr li {
    font-size: 19px;
    padding: 5px;
    color: #fff;
}

.fut p {
    font-size: 19px;
    font-weight: 500;
    color: #fff;
}

.logox img{
    padding-left: 30px;
    padding-top: 25px;
}

 @media (pointer: coarse) and (hover: none) {
    header {
        background: url('../assets/img/header.png') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}